@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v12-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v12-latin_latin-ext-700.woff2') format('woff2');

}

@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fraunces-v31-latin_latin-ext-regular.woff2') format('woff2');

}

@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/fraunces-v31-latin_latin-ext-900.woff2') format('woff2');

}

/* Dastlabki kodlar */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-size: 18px;
  line-height: normal;
  background: #FEFCF7;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

ul,
li,
p,
h1,
h2,
a {
  text-decoration: none;
  list-style: none;


}

.header {
  margin-top: 40px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  padding: 20px;
}

.header__link {
  font-family: "Barlow";
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #83888F;
}

.header__link:hover {
  text-decoration: underline;
  color: #333D4B;
  font-family: "fraunce";
  font-weight: 900;
  cursor: pointer;
}

/* hero */

.hero .container {
  background-image: url("../img/coffe.png");
  width: 1280px;
  height: 600px;
  top: 117px;
  left: 86px;
  padding-bottom: 115px;
  border-radius: 10px;

}

.hero__item {
  margin-left: 80px;
  padding-top: 50px;
}

.hero__h1 {
  width: 493px;
  font-family: "Fraunces";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  color: #FEFCF7;
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero__p {
  width: 445px;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #FEFCF7;
  padding-top: 10px;
  /* margin-bottom: 56px; */


}

.button {
  font-family: "Barlow";
  font-size: 16px;
  color: #FEFCF7;
  text-align: center;
  width: 217px;
  height: 56px;
  background-color: #66D2CF;
  border: 2px solid;
  border-radius: 9px;
  margin-top: 9px;
  cursor: pointer;
  background: #66D2CF;

}

.button:hover {
  background-color: #fff;
}

.button__p {
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  color: #FEFCF7;
}

.button__p:hover {
  color: #66D2CF;
}

.about .container {
  background-image: url("../img/Group\ 13\ \(1\).png");
  background-repeat: no-repeat;
  width: 1111px;
  height: 196px;
  padding-top: 136px;
}

.about__list {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}

.about__item {
  text-align: center;
  margin-left: 30px;
}

.about__img {
  margin-bottom: 71px;
}

.about__title {
  width: 225px;
  color: #333D4B;
  text-align: center;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}

.about__text {
  width: 225px;
  color: #333D4B;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}




.humos .container {
  width: 1280px;
  height: 600px;
  background-color: #2C343E;
  margin-left: 2100px;
  margin-top: 400px;
  border-radius: 10px;
  position: relative;

}

/* .humons .container {
  width: 1280px;
  height: 577px;
  background-color: #2C343E;
  left: 1920px;
  top: 165px; */




.humos__item {
  width: 540px;
  height: 160px;
  margin-left: 360px;
  padding-top: 70px;

}

.humos__title {
  color: #FEFCF7;
  text-align: center;
  font-family: "Fraunces";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  padding-top: 100px;
}

.humons__text {
  color: #FEFCF7;
  text-align: center;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

}

.humons__text__p,
.humos__title__h4 {
  margin: 0px;
  padding: 0px;
}

.humons__li {
  width: 350px;
  height: 382px;
  top: 1920px;
  left: 165px;
  background-color: #0E8784;
  margin: 20px;
  border-radius: 8px;
}


.humons__img {
  margin: 30px;
  margin-left: 130px;
}

.humons__img {
  margin: 40px;
  margin-left: 130px;
}

.humos__title__h4 {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
  margin: 20px;
}

.humons__text__p {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #FEFCF7;
  padding: 0px 39px;
}

.humons__ul {
  width: 1110px;
  height: 382px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 180px;
  margin-left: 15px;
  position: absolute;
  margin-top: 86px;
}

.our .container {
  width: 1045px;
  margin-top: 350px;
}

.our__title {
  color: #83888F;
  font-family: "Fraunces";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  margin: 0 auto;
  padding: 0 auto;
  margin-bottom: 80 px;

}

.our__line {
  display: flex;
  align-items: center;
  width: 760px;
  height: 2px;
  background-color: #FDD6BA;
  margin-bottom: 82px;
  position: relative;
  margin-left: 30px;
  margin-top: 80px;
}

.our__span {
  width: 31px;
  height: 31px;
  border: 2px solid #0E8784;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  position: absolute;
  margin-left: -27px;
}

.our__span:nth-child(2) {
  margin-left: 349px;
}

.our__span:nth-child(3) {
  margin-left: 755px;
}

.our__number {
  color: #FDD6BA;
  font-family: "Fraunces";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  margin: 0;
  padding: 0;
}

.our__title--1 {
  /* width: 255px; */
  color: #333D4B;
  font-family: "Fraunces";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
}

.our__text {
  color: #333D4B;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.our__list {
  display: flex;
  align-items: center;
  justify-content: space-between;



}

.our__item {
  color: #FEFCF7;
  border-radius: 6px;
  font-family: "Fraunces";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.button {
  font-family: "Barlow";
  font-size: 16px;
  color: #FEFCF7;
  text-align: center;
  width: 217px;
  height: 56px;
  background-color: #66D2CF;
  border: 2px solid;
  border-radius: 9px;
  margin-top: 9px;
  cursor: pointer;
  background: #66D2CF;

}

.button:hover {
  background-color: #fff;
}

.button__p {
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  text-align: center;
  color: #FEFCF7;
}

.button__p:hover {
  color: #66D2CF;
}

.footer .container {
  width: 1280px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2C343E;
  margin-top: 200px;
}

.footer__picture {
  padding: 47px 0px;
  padding-left: 85px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link--1 {
  color: #FEFCF7;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}

.footer__link--12 {
  color: #83888F;
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  /* text-transform: uppercase; */
}


.footer__item {
  padding: 20px;
}

.footer__link--12:hover {
  text-decoration: overline;
  color: #FEFCF7;
  font-family: "fraunce";
  font-weight: 900;
  cursor: pointer;
}
.footer__link--1:hover {
  text-decoration: overline;
  color: #83888F;
  font-family: "fraunce";
  font-weight: 900;
  cursor: pointer;
}

.nav__list {
  display: flex;
  
}

.nav__item {
  padding-left: 33px;
  justify-content: space-between;

}
.navber {
  margin-left: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; 
}


.path:hover {
  fill:#FDD6BA
 
}